.layout {
  min-height: 100vh;
}

.layoutSplit {
  display: flex;
  min-height: 100vh;

  > div {
    width: 50%;
  }
}

.layoutContent {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
