.logoBlock {
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  overflow: hidden;
}

.wineBottle {
  position: absolute;
  bottom: -25%;
  width: 100%;
}
.subtitle {
  text-align: center;
}

.logo {
  margin-bottom: 1rem;
}
